<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="db_server" value="babar.db.elephantsql.com" />
		<add key="db_port" value="5432" />
		<add key="db_user" value="ogtjemcl" />
		<add key="db_name" value="ogtjemcl" />
		<add key="db_password" value="jPRALUA8RavI07YDK-FnnYvWuiJVrtxf" />		
		<add key="DIAS_PRESTAMO" value ="5"/>
	</appSettings>
	
</configuration>