<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="db_server" value="babar.db.elephantsql.com" />
    <add key="db_port" value="5432" />
    <add key="db_user" value="jzisqhfe" />
    <add key="db_name" value="jzisqhfe" />
    <add key="db_password" value="X3J-fLdl-IZTS1QUVZ_U7nLaj-XNKoXf" />
    <add key="DIAS_PRESTAMO" value="5" />
    <add key="link_manual_usuario" value="https://drive.google.com/file/d/1YU2FI6QCfTUWZK2Lb3s4gMQbU0iQo2hN/view" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>